@import "../../variables";
@import "../../mixins";

.snippet_tech_wrapper {
	width: $width-100-percent;
	@include total-center;
}

.snippet_tech_content {
	width: $width-60-percent;
	@include total-center;
	flex-wrap: wrap;
	gap: 1em;
	margin-top: 3em;
	margin-bottom: 3em;
}

.pils_button {
	@include pilsButton;
}

.pils_button:hover {
	background-color: $secondary-color;
	color: $bg-color;
	transition: 0.5s ease-in-out;
}

.snippet_card_container {
	@include total-center;
	flex-direction: column;
}

.snippet_card {
	@include snippetCard;
}

.snippet_card_heading {
	@include flex;
	gap: 1.5em;
	margin-bottom: .5em;
}



.snippet_card_img {
	width: 200px;
	height: 150px;
}
.snippet_card_heading_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.snippet_card_paragraph {
	font-weight: 500;
	margin-top: 10px;
	font-size: $font-size__paragraph;
	font-weight: 400;
}
